@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Space+Grotesk:wght@500&display=swap");
*, *::before, *::after {
  font-family: "Libre Franklin", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.x {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.x__cards {
  background-image: url("../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 33%;
  color: white;
  font-size: 0.7rem;
}
.x__cards__front-container {
  position: absolute;
  bottom: -15%;
  left: 5%;
  width: 270px;
}
.x__cards__back-container {
  position: absolute;
  width: 270px;
  right: 5%;
  top: 10%;
}
.x__cards__card-back {
  position: relative;
}
.x__cards__card-back .card-security-code {
  position: absolute;
  top: 50%;
  right: 10%;
  translate: 0 -50%;
}
.x__cards__card-front {
  position: relative;
}
.x__cards__card-front .card-logo {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 3rem;
}
.x__cards__card-front .card-number {
  position: absolute;
  top: 55%;
  left: 7%;
  font-size: 1.7em;
}
.x__cards__card-front .card-name {
  position: absolute;
  bottom: 10%;
  left: 7%;
}
.x__cards__card-front .card-expiry {
  position: absolute;
  bottom: 10%;
  right: 7%;
}
.x__forms {
  margin: 3rem 0 2rem 0;
  width: 100%;
  padding: 1.5rem;
}
.x__forms__form {
  display: flex;
  flex-direction: column;
}
.x__forms__form label {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(278deg, 68%, 11%);
  max-width: 100%;
}
.x__forms__form input {
  margin: 0.5rem 0;
  padding: 0.8rem;
  max-width: 100%;
  border: 1px solid hsl(270deg, 3%, 87%);
  border-radius: 0.5rem;
}
.x__forms__form input::-moz-placeholder {
  font-weight: 600;
  color: hsl(279deg, 6%, 55%);
}
.x__forms__form input:-ms-input-placeholder {
  font-weight: 600;
  color: hsl(279deg, 6%, 55%);
}
.x__forms__form input::placeholder {
  font-weight: 600;
  color: hsl(279deg, 6%, 55%);
}
.x__forms__form .mmyycvc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}
.x__forms__form .mmyycvc div {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.x__forms__form .mmyycvc div:nth-child(1), .x__forms__form .mmyycvc div:nth-child(2) {
  flex: 1;
}
.x__forms__form .mmyycvc div:nth-child(3) {
  flex: 3;
}
.x__forms__form button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

@media (min-width: 800px) {
  .x {
    flex-direction: row;
  }
  .x__cards {
    height: 100%;
    flex-basis: 35%;
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    font-size: 1rem;
  }
  .x__cards__front-container {
    width: 400px;
    top: 20%;
    bottom: revert;
    left: revert;
    right: 0%;
    translate: 30%;
  }
  .x__cards__back-container {
    width: 400px;
    bottom: 20%;
    top: revert;
    right: 0%;
    left: revert;
    translate: 50% 0;
  }
  .x__forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 65%;
  }
  .x__forms__form {
    max-width: 350px;
  }
}/*# sourceMappingURL=styles.css.map */